<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pxy.liblarkar">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:glEsVersion="0x00030001" android:required="true"/>
    <!-- If your app was previously AR Required, don't forget to remove the
     `<uses-feature android:name="android.hardware.camera.ar" />` entry, as
     this would limit app visibility in the Google Play Store to only
     ARCore supported devices. -->
</manifest>